<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="STSConnection"
         connectionString="Server=65.60.203.117:1433;Database=SECURITIES_TRADING_SYNTHESIS;User ID=sa;Password=SQLadmin1;Persist Security Info=True;"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>